<h2>New Ticket:</h2>

<form action="/ticket/create" method="post">

  <label for="date-input">Travel Date:</label>
  <input type="date" name="date" id="date-input" />

  <label for="origin-input">Select Origin:</label>
  <input type="text" name="origin" id="origin-input" />

  <label for="destination-input">Select Destination:</label>
  <input type="text" name="destination" id="destination-input" />

  <label for="quantity-input">Select Quantity:</label>
  <input type="number" name="quantity" id="quantity-input"> </input>

  <button type="submit">Book Ticket</button>

</form> 