<h2>New Ticket:</h2>

<form action="/tickets/create" method="post">

  <label for="origin-input">Origin:</label>
  <input type="text" name="origin" id="origin-input" />

  <label for="destination-input">Destination:</label>
  <input type="text" name="destination" id="destination-input" />

  <label for="quantity-input">Quantity:</label>
  <input type="number" name="quantity" id="quantity-input"> </input>

  <button type="submit">Book Ticket</button>

</form> 