<h2>My tickets</h2>
{{#each tUser}}
<div><b>Origin:</b> {{origin}}</div>
<div><b>Destination:</b> {{destination}}</div>
<div><b>Number of Tickets:</b> {{quantity}}</div>
<div><b>Date:</b>{{date}}</div>
<hr>
{{/each}}
<h3>Go Back</h3>