<h2>Edit My Ticket</h2>
<form action="/myTickets/{{_id}}/update-form" method="post">
  <label for="date-input">Travel Date:</label>
  <input type="date" name="date" id="date-input" value="{{date}}" />
  <br>
  <label for="origin-input">Select Origin:</label>
  <select name="origin" id="origin">
    <option value="The Netherlands">The Netherlands</option>
    <option value="United States">United States</option>
    <option value="United Arab Emirates">United Arab Emirates</option>
    <option value="Spain">Spain</option>
    <option value="China">China</option>
    <option value="England">England</option>
  </select>
  <br>
  <label for="destination-input">Select Destination:</label>
  <select name="destination" id="destination">
    <option value="The Netherlands">The Netherlands</option>
    <option value="United States">United States</option>
    <option value="United Arab Emirates">United Arab Emirates</option>
    <option value="Spain">Spain</option>
    <option value="China">China</option>
    <option value="England">England</option>
  </select>
  <br>
  <label for="quantity-input">Select Quantity:</label>
  <select name="number" id="quantity-input">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <br>
  <button type="submit">Update Ticket(s)</button>

</form>