<div class="top-container">
  <div class="one">
  <b>We fly worldwide this winter via Abu Dhabi</b>
  </div>
  <div class="one">
    <b>You must have a COVID-19 PCR test before flying</b>
  </div>
  <div class="one">
    <b>Your well-being, our priority</b>
  </div>
  <div class="one">
    <b>We would like to hear from you, your feedback is really important and we would love to hear your ideas and suggestions.</b>
  </div>
</div>


<div class="sup-container">
<div class="sup">

  <h2>Sign up to book your Tickets to fly!</h2>

  <a href="/signup">Signup</a>

</div>

<div class="sup">
 
  <h2>Do you already have an account?</h2>
  <a href="/login">Login</a>
 
 </div>
 </div>

<footer>
  
</footer>
