<div class="sup-container">
<div class="sup">

  <h2>Sign up to book your tickets!</h2>

  <a href="/signup">Sign-up</a>

</div>

<div class="sup">
 
  <h2>Do you already have an account?</h2>
  <a href="/login">Log-in</a>
 
 </div>
 </div>


