<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Primary Meta Tags -->
<title>Welcome to Iron Airlines!</title>
<meta name="title" content="Welcome to Iron Airlines!">
<meta name="description" content="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://first-airline-application.herokuapp.com/">
<meta property="og:title" content="Welcome to Iron Airlines!">
<meta property="og:description" content="Airline Ticket Booking App">
<meta property="og:image" content="https://res.cloudinary.com/dpbnmqvmk/image/upload/v1611149791/project2_ai4wpj.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://first-airline-application.herokuapp.com/">
<meta property="twitter:title" content="Welcome to Iron Airlines!">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1 class="airline-title">Welcome to Iron Airlines!</h1>

  {{{body}}}
 
  <script src="/javascripts/script.js"></script>
</body>
</html>