<div class="private-view">
        <div>
                <h2>Welcome {{user.username}}!</h2>
        </div>
        <div>
                <a href="/">home</a>
        </div>
        <div>
                <form id="logout-form" action="/logout" method="POST">
                <button>Logout</button>
                </form>
        </div>

</div>
