<h2>Welcome {{user.username}}!</h2>
<a href="/">home</a>
 <form id="logout-form" action="/logout" method="POST">
          <button>Logout</button>
  </form>
<div class="btn-toMyTickets">
  <a href="/views.my-tickets">My Tickets</a>      
</div>

