<div class="private-view">
        <div>
                <h2>Welcome {{user.username}}!</h2>
        </div>
        <div>
                <a href="/">Home</a>
        </div>
        <div>
               <a href="/tickets">Book Ticket</a> 
        </div>
          <div>
               <a href="/myTickets">My Tickets</a> 
        </div>

        <div>
                <form id="logout-form" action="/logout" method="POST">
                <button class="btn-all"><b>Logout</b></button>
                </form>
        </div>
        

</div>
